html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #121212;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#__next {
  height: 100%;
  width: 100%;
}

.yellow {
  background-color: #c9b454;
}

.green {
  background-color: #6aaa64;
}

.gray {
  background-color: #86888a;
}



@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  border-color:rgb(17, 128, 233);
  border-width: 3px;
}

input{
  width: 375px
}

.hidden {
  background-color: rgba(0,0,0,0.1);
  color: transparent;
  caret-color: transparent;
  /* outline-style: none; */
  position: absolute;
  top: 40px;
  z-index: 1;
}