html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.yellow {
  background-color: #c9b454;
}

.green {
  background-color: #6aaa64;
}

.gray {
  background-color: #86888a;
}



@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  border-color:rgb(17, 128, 233);
  border-width: 3px;
}